.CodeMirror {
	margin-top: 15px;
	box-shadow: 0 0 0 transparent;
	resize: vertical;
	min-height: 800px;
}

.wpcf7-custom-css {
	margin: 15px 0 0 46px;
}

.wpcf7-custom-css ul {
	margin-left: 15px;
	list-style: square;
}

.has-tooltip {
	position: relative;
	cursor: help;
}
.has-tooltip.is-pointer {
	cursor: pointer;
}
.has-tooltip::before, .has-tooltip::after {
	color: #efefef;
	font-size: 12px;
	opacity: 0;
	pointer-events: none;
	text-align: center;
}
.has-tooltip::before {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 2px;
	color: #ffffff;
	content: attr(data-tooltip);
	padding: 10px;
	text-transform: none;
	transition: all 0.5s ease;
	max-width: 200px;
	width: max-content;
	transform: translateY(calc(-100% - 7px)) translateX(-50%);
	word-wrap: break-word;
	white-space: break-spaces;
	line-height: 1.5;
	text-align: left;
	z-index: 9;
}
.has-tooltip::after {
	position: absolute;
	top: -7px;
	left: 50%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #14102C;
	content: " ";
	font-size: 0;
	line-height: 0;
	margin-left: -5px;
	width: 0;
	transform: translateX(-50%);
	z-index: 9;
}
.has-tooltip:focus-visible::before, .has-tooltip:focus-visible::after, .has-tooltip:focus::before, .has-tooltip:focus::after, .has-tooltip:hover::before, .has-tooltip:hover::after {
	opacity: 1;
	transition: all 0.75s ease;
}
.has-tooltip.on-right::before {
	top: 50%;
	left: 100%;
	transform: translateY(-50%) translateX(4px);
}
.has-tooltip.on-right::after {
	top: 50%;
	left: calc(100% + 2px);
	rotate: 90deg;
	transform: translateX(calc(-50% + 2.5px));
}
.has-tooltip.on-left::before {
	top: 50%;
	left: -2px;
	transform: translateY(-50%) translateX(-100%);
}
.has-tooltip.on-left::after {
	top: 50%;
	left: 0;
	rotate: -90deg;
	transform: translateX(calc(-50% + 7px));
}
.has-tooltip.on-bottom::before {
	top: unset;
	bottom: 0;
	transform: translateY(calc(100% + 7px)) translateX(-50%);
}
.has-tooltip.on-bottom::after {
	top: unset;
	bottom: -7px;
	rotate: 180deg;
}